/* Color Palette Colors */

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/* Color Palette */
.color {
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid black;
}

.color-palette {
  border: 2px solid green;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px;
  margin-top: 20px;
  padding: 5px;
  width: 100px;
}

/* Canvas */
.pixel {
  max-width: 10px;
  max-height: 10px;
  min-width: 10px;
  min-height: 10px;
  border: 1px solid black;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

.canvas {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
  grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;

  max-width: 1000px;
  max-height: 750px;
  min-width: 1000px;
  min-height: 750px;
  margin: auto;
  margin-top: 50px;
  /* padding: 0; */
}
