.pixel {
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  border: 1pt solid black;
}

.canvas {
  border: 2pt solid black;
  display: grid;
  width: 200px;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
}
